body {
    font-family: Arial, sans-serif;
    background-image: url(/static/images/HD-wallpaper-uefa-champions-league-background-estadio-de-futbol-papel-tapiz-deportivo-fondo-de-pantalla-futbol-soccer-pitch.jpg);
    background-size: cover; /* Opcional: para ajustar el tamaño de la imagen al contenedor */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }