{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Técnicos</title>
  <link rel="stylesheet" href="{% static "css/tecnicos.css" %}">
</head>
<body>
  <div class="container">
    <h1>Nuestros Técnicos Mundial 2026</h1>
    <div class="productos">
      <div class="producto">
        <img src="" alt="">
        <h2>Tecnico </h2>
        <p>Descripción tec.</p>
        <p>Fecha Nacimiento</p>
        <p>Nacionalidad</p>
        <p></p>
      </div>
      <div class="producto">
        <img src="" alt="">
        <h2>Tecnico </h2>
        <p>Descripción tec.</p>
        <p>Fecha Nacimiento</p>
        <p>Nacionalidad</p>
      </div>

      

    </div>
  </div>
</body>
</html>
